{% extends 'admin/layout/base.html.twig' %}
{% block title %}Vendégek{% endblock %}

{% block main %}
    <table class="table table-responsive-sm table-striped">
        <thead>
        <tr>
            <th>Felhasználó név</th>
            <th>Születési idő</th>
            <th>Azonosító</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.firstName }} {{ entity.lastName }}</td>
                <td>{{ entity.birthDay|date('Y-m-d') }}</td>
                <td>
                    {% if entity.cardType == "PASSPORT" %}
                        Útlevél - 
                    {% elseif entity.cardType == "ID_CARD" %}
                        Személyi igazolvány - 
                    {% elseif entity.cardType == "DRIVER_LICENSE" %}
                        Jogosítvány - 
                    {% endif %}
                    {{ entity.cardNumber }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('admin_reservation_form', {'id': return}) }}" class="btn btn-primary btn-sm">Vissza</a>

{% endblock %}
